body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

ul li {
    list-style: none;  
}

button{
    box-shadow: none;
}


#hint-box{
    z-index: 2;
    background: white;
    min-height: 40px;
    width: 120px;
    border: 1px solid black;
    position: absolute;
    visibility: hidden;
    padding: 10px;
    font-size: 0.9em;
}

.hint {
    background: white;
    height: 15px;
    width: 15px;
    color: black;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 0.6em;
    color: blue;
    position: relative;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    margin: 0 5px;
}

.hint .text{
    position: absolute;
    top: 11%;
    left: 35%;
}

.blur {
    filter: blur(2px);
    color: rgba(117, 117, 117, 1);
}

 .wrapper {
    padding: 5vh;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.small-header {
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 3px;
    background: rgba(117, 117, 117, 1);
    margin-bottom: 10px;
}

.small-header p {
    margin: 0;
    display: inline-block;
}

.small-header .hint {
    margin: 0 5px;
    vertical-align: initial;
}


#launch {
    text-align: center;
}

#run {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    background: #FF9700;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    box-shadow: 0px 0px 10px black;
}

#run:hover {
    background: #FFB74F;
}


.control-panel {
    height: 50vh;
}


.panel-section {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.panel-section-header{
    height: 10%;
    text-align: center;
    background: rgb(80, 80, 80);
    color: white;
    border: 1px solid gray;
    margin: 2px;
    min-height: 35px;
}

.panel-section-header p {
    margin: 0;
    vertical-align: middle; 
    padding-top: 10px;
    text-transform: uppercase;
    display: inline-block;
}

#right-column{
    width: calc(70% - 4px);     /* !!! */
    height: 100%;
}

#left-column{
    width: 30%;
    height: 100%;
}

.panel-quarter {
    display: block;
    height: 45% ;
    border: 1px solid gray;
    padding: 15px;
    margin: 2px;
    background: rgba(150,150,150, 0.2);
    max-height: 200px;
    min-height: 150px;
}

.player-units{  
    width: calc(50% - 6px); /* !!! should be 50%*/
    display: inline-block;
    height: 100%;
    margin: 0px 2px;
}

/* CONTROLS */

#controls {
    height: 22%;
}

.control-section {
    display: inline-block;
    text-align: center;
}

#run-buttons {
    width: calc(50% - 8px);     /* !!! */
    vertical-align: top;
}

#launch {
    width: 49%;
}


.stat div {
    display: inline-block;
    width: 49%;                 /* !!! */
}

.stat button {
    margin: 0px 2px;
}


/* WIN RATE */

#win-stats {
    height: 70%;
}

.win-rate{
    font-family: 'Quattrocento', serif;
    display: inline-block;
    width: calc(50% - 4px);
    font-size: 6em;
    text-align: center; 
}


/* PROGRESS METER */

#progress-meter {
    background: red;
    z-index: 0;
    width: 100%;
    height: 15%;
    border: 1px solid black;
    box-shadow: 0px 0px 10px gray;
}

#complete {
    background: green;
    z-index: 1;
    height: 100%;
    width: 0%;
    max-width: 100%;
}


@media handheld, screen and (max-width: 768px) {




    .wrapper {
        padding: 1vh;
    }

    #left-column, #right-column {
        width: 100%;
    }

    #controls {
        height: 50%;
    }

    .control-panel {
        height: 65vh;
    }

    .panel-quarter {
        height: 35%;
        font-size: 0.8em;
    }

    #win-stats {
        height: 40%;
    }

    .win-rate {
        font-size: 3em;
    }

    #run {
        font-size: 1.1em;
    }


}